@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .btn,
  .input,
  .select,
  .textarea,
  .file-input {
    @apply rounded-none;
  }

  .btn-primary {
    @apply bg-primary-500 border-primary-500 outline-primary-500 text-white hover:bg-primary-800 hover:border-primary-500;
  }
}
